body {
    padding: 20px;
    margin: 0;
}

.step {
    display: none;
}

#step1 {
    display: block;
}

/* label{margin-left: 20px;} */
/* #datepicker{width:180px; margin: 0 20px 20px 20px;} */
#datepicker > span:hover{cursor: pointer;}

#dateRow{
    margin-top: 15px;
}

#datepicker {
    width: 100%;
}